#what .items{
    display: block;
    padding: 1rem;
}

/* Align Item to Left */

#what .items .item{
    display: flex;
    text-align: left;
}


#what .items .item i{
    margin-right: 2.3rem;
    align-self: center;
    margin-bottom: 0;
}